body{
    background-color: beige;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

article h2{
    border-bottom: solid;
}

li{
    width: 515px;
    height: 30px;
}

.flex div{
    padding: 0;
    margin: 0;
    width: 50%;
    height: 250px;
}